<div class="controls pull-left">
  <a class="btn btn-default btn-sm like-button" href="#">
    <span class="glyphicon glyphicon-heart"></span>
    <% if (buttonText) { %>
      Like
    <% } %>
  </a>
  
  <a class="btn btn-default btn-sm" href="#">
    <span class="glyphicon glyphicon-share"></span>
    <% if (buttonText) { %>
      Share
    <% } %>
  </a>
  
  <a class="btn btn-default btn-sm"
    href="<%= submission.submissionUrl() %>">
    <span class="glyphicon glyphicon-download"></span>
    <% if (buttonText) { %>
      Download
    <% } %>
  </a>
  
  <% if (submission.submitter().isCurrentUser()) { %>
    <a class="btn btn-default btn-sm context-button"
      href="#/submissions/<%= submission.id %>/edit">
      <span class="glyphicon glyphicon-pencil"></span>
      <% if (buttonText) { %>
        Edit
      <% } %>
    </a>
  <% } %>
</div>

<span class="stats pull-right">
  <h4><small>
    <span class="plays stat">
      <span class="glyphicon glyphicon-play"></span>
      0
    </span>
  
    <span class="likes stat">
      <span class="glyphicon glyphicon-heart"></span>
      <%= submission.escape("likes") %>
    </span>
  </small></h4>
</span>

<div class="clearfix"></div>