<a class="pull-left" href="#">
  <img class="media-object" src="<%= WavPool.s3Url(comment.profile().escape("picture_url")) %>" width="24" height="24">
</a>
<div class="media-body">
  <h5 class="media-heading">   
    <%= comment.profile().escape("display_name") %>
    <time><small>at <%= comment.timestamp() %></small></time>
  </h5>
  <small><%= comment.escape("content") %></small>
</div>

<hr>

