<div class="jumbotron col-xs-8 col-xs-offset-2">
  <h2>Welcome to WavPool.</h2>
  <p>WavPool is a music-sharing service where users can contribute to a boundless pool of tracks, snippets, remixes, DJ sets, and everything in between. Visitors surfing the pool can use search queries, tags, and simple browsing to discover artists who are making a splash, as well as follow them to stay updated.<p>
</div>

<div class="col-xs-5 col-xs-offset-2">
  <p class="lead">Ready to get surfing? Sign up now.</p>

  <%= render partial: "form", locals: { user: @user } %>
</div>