<div class="row">
  <div class="col-xs-12">
    <div class="core-container clearfix"></div>
  </div>
</div>

<div class="row">
  <div class="col-xs-3">
    <div class="cover-art-container"></div>
  </div>
    
  <div class="col-xs-6">
    <div class="row">
      <div class="tags"></div>
    </div>
    
    <div class="row">
      <span class="description"><h4>
        <%= submission.escape("description") %>
      </h4></span>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="comments-container"></div>
    </div>  
  </div>
  
  <div class="col-xs-3">
    <div class="mini-profile-container"></div>
    
    <hr>
    
    <div class="text-muted">
      <h5>Recommended</h5>
      <div class="recommended-container"></div>
    
      <hr>
    
      <h5>
        <span class="likes">
          <span class="glyphicon glyphicon-heart"></span>
          <%= submission.escape("likes") %> likes
        </span>
      </h5>
    
      <div class="likers-container"></div>
    </div>
  </div>
</div>
