<form>
  <div class="form-group">
    <label for="profile_display_name">Display name</label>
    <input
      type="text"
      name="profile[display_name]"
      id="profile_display_name"
      class="form-control"
      value="<%= profile.escape('display_name') %>">
      <p class="help-block">
        This is the name users will know you by. This could be your real name or the name you release music under. You can always change it down the line.
      </p>
  </div>

  <div class="form-group">
    <label for="profile_full_name">Full name</label>
    <input
      type="text"
      name="profile[full_name]"
      id="profile_full_name"
      class="form-control"
      value="<%= profile.escape('full_name') %>">
  </div>

  <div class="form-group">
    <label for="profile_location">Location</label>
    <input
      id="profile_location"
      type="text"
      name="profile[location]"
      class="form-control"
      value="<%= profile.escape('location') %>">
  </div>

  <div class="form-group">
    <label for="profile_description">Description</label>
    <textarea
      id="profile_description"
      name="profile[description]"
      class="form-control"><%= profile.escape('description') %></textarea>
  </div>

  <button class="btn btn-primary pull-right">Save</button>
</form>