<form>
  <div class="form-group">
    <input
      type="text"
      name="profile[display_name]"
      class="form-control"
      placeholder="Display name">
      <p class="help-block">
        This is the name users will know you by. This could be your real name or the name you release music under. You can always change it down the line.
      </p>
  </div>

  <div class="form-group">
    <input
      type="text"
      name="profile[full_name]"
      class="form-control"
      placeholder="Your full name">
  </div>

  <div class="form-group">
    <input
      type="text"
      name="profile[location]"
      class="form-control"
      placeholder="Location">
  </div>

  <div class="form-group">
    <textarea
      name="profile[description]"
      class="form-control"
      placeholder="Description">
  </div>

  <button class="btn btn-primary">Save</button>
</form>