/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

html, body {
  background-color: hsl(0, 0%, 96%);
  height: 100%;
}

body {
  padding: 50px 25px 0px 25px;
}

.all-content {
  padding-top: 25px;
  
  background-color: white;
  height: 100%;
}

main {
  margin-left: 25px;
  margin-right: 25px;
}

.dropdown-form-container {
  width: 350px;
  padding: 15px 15px 0px 15px;
}

.navbar {
  padding-left: 80px !important;
  padding-right: 80px !important;
}

.display-pic {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.submission-full .cover-art img {
  width: 200px;
  height: 200px;
}

.submission-full .track-progress {
  height: 110px;
}

.submission-full .display-name h3 {
  margin-bottom: 0px;
}

.submissions .play-button {
  margin-top: -15px;
}

.submissions h2 {
  margin: 0;
}

.submissions .display-name h3 {
  margin: 0;
  font-size: 16pt;

  margin-left: 36px;
}

.submissions time h3 {
  margin: 0;
  font-size: 14pt;
}

.submitted h3 {
  margin: 0;
}

.info .top {
  margin-bottom: 7px;
}

.submissions .info .top {
  margin-bottom: 0;
  position: relative;
}

.submissions time {
  margin: 0;
}

.submissions h2 .title {
  font-size: 12pt !important;
  margin-bottom: 10px;
}

.submission-full .info h2 {
  margin-top: -5px;
}

.submissions .button-text {
  display: none;
}

.submissions .btn-sm {
  padding: 1px 5px !important;
  margin-top: -2px;
}

.submissions hr {
  margin-top: 15px;
}

.submissions .stats h4 {
  font-size: 11pt;
}

.play-button {
  width: 28px;
  height: 28px;
  
  position: relative;
  top: 2px;
  
  margin-right: 8px;
  
  background: linear-gradient(to bottom, hsl(200, 70%, 80%), hsl(200, 80%, 70%), hsl(200, 70%, 60%), hsl(200, 50%, 50%));
  
  border: 2px solid hsl(200, 70%, 75%);
  border-radius: 50%;
  
  padding: 5px;
}

.play-button:hover {
  border: 2px solid hsl(200, 75%, 70%);
}

.submissions .core .context-button {
  display: none;
}

.submissions .core:hover .context-button {
  display: inline-block;
}

.play-button span {
  font-size: 17px;
  color: white;
  text-shadow: 0 0 3px rgba(255, 255, 255, 1);
  
  position: absolute;
  top: 3px;
  left: 5px;
}

.submission-full .play-button:hover span {
  text-shadow: 0 0 7px rgba(255, 255, 255, 1);
}

.footer .stats h4 {
  margin: 0;
}

.footer .stat {
  
}

.footer .stat:after {
  content: "|";
  padding-left: 4px;
  padding-right: 3px;
}

.footer .stat:last-child:after {
  content: "";
}

.footer {
  margin-top: 15px;
}

.profile-picture {
  width: 200px;
  height: 200px;
}





.submissions .media {
  margin-bottom: 25px;
}

.submissions {
  /*overflow-y: scroll;
  height: 100%;*/
}

.liked {
  color: white;
}

/*.alerts {
  position: absolute;
  top: 55px;
  right: -15px;
  z-index: 2;
  width: 400px;
}*/

.track-progress {
  margin-bottom: 7px;
  height: 40px;
}

.cover-art img {
  width: 120px;
  height: 120px;
}

.image-container {
  width: 120px;
}

.player-container {
  float: right;
  width: 300px;
}

.global-player {
  position: fixed;
  bottom: 0px;
  z-index: 2;

  width: 300px;
  
  font-size: 1.1em;
  
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 15%), hsl(0, 0%, 10%));
  
  text-shadow: 1px 1px 5px hsl(0, 0%, 5%);
}

.global-player a {
  color: white;
}

.global-player .progress {
  background-color: hsl(0, 0%, 35%);
}

.player-section {
  display: inline-block;
}

.volume-controls {
  width: 20px;
}

.playback-controls {
  width: 50px;
}

.track-info {
  width: 210px;
  height: 105%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75em;
  padding-top: 2px;
}

.track-info span {
  position: relative;
  top: 2px;
}

.playback-controls a[disabled="true"] {
  color: hsl(0, 0%, 50%);
};

.prev-track,
.next-track {
  font-size: 0.75em;
}

.global-player .progress {
  margin-bottom: 0px;
  height: 7px;
  border-radius: 0;
}

.global-player .progress-bar {
  background-color: hsl(200, 70%, 70%);
}

.submission-inline .cover-art img {
  width: 80px;
  height: 80px;
}

.feed .submission-inline .cover-art img {
  width: 120px;
  height: 120px;
}

.global-player .info {
  padding: 5px;
}

.navbar {
    background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 20%), hsl(0, 0%, 10%));
    
    text-shadow: 1px 1px 5px hsl(0, 0%, 5%);
}

.navbar-inverse .navbar-nav > li > a:active {
  color: hsl(0, 0%, 90%);
}

.navbar-inverse .navbar-nav > li > a {
  color: hsl(0, 0%, 60%);
}

.navbar-header {
  background: linear-gradient(to bottom, hsl(200, 60%, 60%), hsl(200, 60%, 40%));
  text-shadow: none;
  padding-left: 15px;
}

.navbar-inverse .navbar-brand {
  color: white;
  text-shadow: 0px 0px 2px hsl(0, 0%, 60%);
}

//.progress .progress-bar {
//  transition: none;
//}

.track-progress-bar {
  height: 7px;
  
  background-color: hsl(200, 70%, 70%) !important;
  
  position: absolute;
  bottom: 0;
}

.track-progress {
  position: relative;
}

.track-progress .comment-line {
  position: absolute;
  bottom: 0px;
  
  background-color: hsl(0, 0%, 80%);
  width: 1px;
  height: 7px;
}

.track-progress .comment-line.active {
  background-color: hsl(20, 100%, 80%);
}

.progress-bar {
  transition: none;
}

.progress-comment {
  position: absolute;
  bottom: 7px;
  
  background: linear-gradient(to bottom, hsl(0, 0%, 99%), hsl(0, 0%, 97%));
  
  border: 1px solid hsl(20, 100%, 80%);
  border-radius: 10px 0 10px 0;
  box-shadow: 3px 3px 5px hsla(0, 0%, 30%, 0.10);
  
  padding: 5px;
  max-width: 200px;
  margin-left: 1px;
  
  z-index: 3;
  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.submissions .progress-comment {
  font-size: 0.725em;
  margin-left: 1px;
}

/*.submission-comment {
  max-width: 500px;
}*/

.submission-comment .form-group {
  margin-bottom: 5px;
}

.analyzer {
  width: 100%;
  height: 20px;
}