/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown-form-container {
  width: 350px;
  padding: 15px 15px 0px 15px;
}

.submissions .media {
  margin-bottom: 25px;
}

.submissions {
  /*overflow-y: scroll;
  height: 100%;*/
}

.liked {
  color: white;
}

/*.alerts {
  position: absolute;
  top: 55px;
  right: -15px;
  z-index: 2;
  width: 400px;
}*/

.play-button {
  margin-top: -5px;
  margin-right: 10px;
}

.track-progress {
  margin-bottom: 7px;
  max-width: 500px;
  height: 40px;
}

.track-image {
  width: auto;
  height: 120px;
  max-width: 120px;
}

.image-container {
  width: 120px;
}

.global-player {
  position: fixed;
  bottom: -1px;
  right: 152px;
  z-index: 2;

  width: 300px;
  font-size: 1.1em;
  box-sizing: border-box;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.global-player a {
  color: white;
}

.player-section {
  display: inline-block;
}

.volume-controls {
  float: right;
  width: 20px;
}

.playback-controls {
  width: 50px;
}

.track-info {
  width: 210px;
}

.prev-track,
.next-track {
  font-size: 0.75em;
}

.global-player .progress {
  margin-bottom: 0px;
  height: 5px;
  border-radius: 0;
}

.global-player .info {
  padding: 5px;
}