/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap-sprockets";
@import "bootstrap";

.dropdown-form-container {
  width: 350px;
  padding: 15px 15px 0px 15px;
}

.submissions .media {
  margin-bottom: 25px;
}

.submissions {
  /*overflow-y: scroll;
  height: 100%;*/
}

.liked {
  color: white;
}

/*.alerts {
  position: absolute;
  top: 55px;
  right: -15px;
  z-index: 2;
  width: 400px;
}*/

.play-button {
  margin-top: -5px;
  margin-right: 10px;
}

.track-progress {
  margin-bottom: 7px;
  height: 40px;
}

.track-image {
  width: auto;
  height: 120px;
  max-width: 120px;
}

.image-container {
  width: 120px;
}

.global-player {
  position: fixed;
  bottom: 0px;
  right: 100px;
  z-index: 2;

  width: 300px;
  font-size: 1.1em;
  box-sizing: border-box;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
  background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 15%), hsl(0, 0%, 10%));
  
  text-shadow: 1px 1px 5px hsl(0, 0%, 5%);
}

.global-player a {
  color: white;
}

.global-player .progress {
  background-color: hsl(0, 0%, 35%);
}

.player-section {
  display: inline-block;
}

.volume-controls {
  width: 20px;
}

.playback-controls {
  width: 50px;
}

.track-info {
  width: 210px;
  height: 105%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.75em;
  padding-top: 2px;
}

.track-info span {
  position: relative;
  top: 2px;
}

.playback-controls a[disabled="true"] {
  color: hsl(0, 0%, 50%);
};

.prev-track,
.next-track {
  font-size: 0.75em;
}

.global-player .progress {
  margin-bottom: 0px;
  height: 7px;
  border-radius: 0;
}

.global-player .info {
  padding: 5px;
}

.navbar {
    background: linear-gradient(to bottom, hsl(0, 0%, 10%), hsl(0, 0%, 20%), hsl(0, 0%, 10%));
    
    text-shadow: 1px 1px 5px hsl(0, 0%, 5%);
}

.navbar-inverse .navbar-nav > li > a:active {
  color: hsl(0, 0%, 90%);
}

.navbar-inverse .navbar-nav > li > a {
  color: hsl(0, 0%, 60%);
}

.navbar-header {
  background: linear-gradient(to bottom, hsl(200, 60%, 60%), hsl(200, 60%, 40%));
  text-shadow: none;
  padding-left: 15px;
}

.navbar-inverse .navbar-brand {
  color: white;
  text-shadow: 0px 0px 2px hsl(0, 0%, 60%);
}

//.progress .progress-bar {
//  transition: none;
//}

.track-progress {
  position: relative;
}

.track-progress .comment-line {
  position: absolute;
  top: 0;
  margin: 1px 0;
  
  background-color: hsl(0, 0%, 80%);
  width: 2px;
  height: 100%;
}

.track-progress .comment-line.active {
  background-color: hsl(20, 70%, 60%);
}

.progress-comment {
  position: absolute;
  top: 8px;
  font-size: 0.725em;
  background: linear-gradient(to bottom, hsl(0, 0%, 97%), hsl(0, 0%, 95%));
  border-radius: 0 10px 0 10px;
  padding: 5px;
  box-shadow: 3px 3px 5px hsla(0, 0%, 30%, 0.15);
  margin-left: 1px;
  border: 1px solid hsl(0, 0, 90%);
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 3;
}

/*.submission-comment {
  max-width: 500px;
}*/

.submission-comment .form-group {
  margin-bottom: 5px;
}

.analyzer {
  width: 100%;
  height: 20px;
}