<div class="col-xs-9">
  <h4>Start surfing WavPool!<br><small>This feed tracks all the latest submissions. Discover your new favorite song.</small></h4>
  
  <hr>
  
  <div class="submissions"></div>
</div>
<div class="col-xs-3 sidebar">
  <div class="text-muted">
  </div>
</div>