<div class="col-xs-9 submissions"></div>
<div class="col-xs-3 sidebar">
  <div class="text-muted">
    <h5>Recent likes</h5>
    <div class="recent-likes"></div>
    
    <h5>Recommended users</h5>
    <div class="recommended-users"></div>
  </div>
</div>