<audio preload="auto" src=""></audio>

<div class="info">
  <div class="playback-controls player-section">
    <a class="prev-track" href="#" disabled="true">
      <span class="glyphicon glyphicon-step-backward"></span>
    </a>
    <a class="play-toggle" href="#">
      <span class="glyphicon glyphicon-play"></span>
    </a>
    <a class="next-track" href="#" disabled="true">
      <span class="glyphicon glyphicon-step-forward"></span>
    </a>
  </div>

  <div class="track-info player-section">
    <a class="track-link" href="#">
    </a>
  </div>

  <div class="volume-controls player-section">
    <a class="volume-button" href="#">
      <span class="glyphicon glyphicon-volume-up"></span>
    </a>
  </div>
</div>

<div class="progress">
  <div class="progress-bar">
  </div>
</div>